<button class='icon-button c-5'
        appRoundedPolygonClipPath>
    <span class="material-icons light">bluetooth</span>
</button>

<div class="img-container"
     [appRoundedPolygonClipPath]="{ cornerCount:5 }">
    <img src="https://picsum.photos/id/309/500/500">
</div>

<button class='icon-button c-2'
        [appRoundedPolygonClipPath]="{ cornerCount: 12, innerRadiusRatio: 0.9, cornerRadius: 0.8, outerRadius: 0.9 }">
    <span class="material-icons">wifi</span>
</button>

<div class="img-container"
     [appRoundedPolygonClipPath]="{ cornerCount: 3, innerRadiusRatio: 0.47, cornerRadius: .6 }">
    <img src="https://picsum.photos/id/1081/500/500">
</div>

<button class='icon-button c-4'
        [appRoundedPolygonClipPath]="{ cornerCount: 4, innerRadiusRatio: .3, cornerRadius: .8, tilt: 45 }">
    <span class="material-icons">light_mode</span>
</button>

<button class='icon-button c-3'
        [appRoundedPolygonClipPath]="{ cornerCount: 6, innerRadiusRatio: .8, cornerRadius: 0.4, outerRadius: 0.97 }">
    <span class="material-icons light">photo_camera</span>
</button>
